<div class="homepanel">
  <h2>My Reserved Spots</h2>
  <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="50">
    <thead>
    <tr>
        <th style="width: 50%">
            <mfDefaultSorter by="spot">Spot</mfDefaultSorter>
        </th>
        <th style="width: 50%">
            <mfDefaultSorter by="date">Date Reserved</mfDefaultSorter>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of mf.data">
        <td>{{item.spot}}</td>
        <td>{{item.date}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table>
</div>
